$hover-color: #f5f5f5;
$transaction-up-color: #7eeec3;
$transaction-down-color: #eea97e;
$transaction-hold-color: #c4d6ed;

.title-container {
  text-align: center;
}

.transaction-list {
  max-height: 50vh;
  max-width: 400px;
  overflow: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  .transaction-line {
    cursor: pointer;
    padding: 1px;
  }
}

.transaction-element {
  padding: 5px;
  background-color: $transaction-up-color;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  span {
    overflow: hidden;
    max-width: 200px;
    display: inline-block;
    height: 20px;
  }
}

.transaction-element.particular {
  min-height: 100px;
  flex-wrap: wrap;
  span {
    max-width: none;
    display: initial;
    max-height: none;
  }
}

@keyframes transaction-skeleton-loading {
  0% {
    background-color: $transaction-up-color;
  }
  100% {
    background-color: $transaction-hold-color;
  }
}

.transaction-element.skeleton {
  height: 20px;
  animation: transaction-skeleton-loading 1s linear infinite alternate;
}

.transaction-element:hover {
  background-color: $hover-color;
}
